<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>云信留客</title>
<link href="__PUBLIC__/css/basic.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/left.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/left.js"></script>
</head>
<body>
	<ul>
		<li><a class="hover" href="main.html" target=main>首&nbsp;&nbsp;页</a></li>
		<li><a href="submittask.html" target=main>创建任务</a></li>
		<li><a  href="lasttask.html" target=main>正在处理</a></li>
		<li><a  href="oldtask.html" target=main>已经完成</a></li>
		<!--<li><a href="__URL__/logout.html" target=_parent>退出系统</a></li>-->
		<div id="lanPos"></div>
	</ul>
</body>
</html>

