<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<style>
			body{
				padding:0px;
				margin:0px;
			}
			.main{
				background-image:url("__PUBLIC__/images/main.jpg");
				margin: 0;
				height: 540px;
			}
			.content{
				text-align:center;
			}
			.content img{
				width: 800px;
				height: 400px;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<div class="content">
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
				<img src="__PUBLIC__/images/welcome.png">
			</div>
		</div>
	</body>
</html>
